Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Dynamic/LevelsDynamic/FirstPersonExampleMap_BuiltData.uasset
Content/Static/SoulCave/
Content/Static/SoulCity/
